# Frontend Environment Variables
.env
.env.local
.env.*.local
!.env.example

# Dependencies
node_modules/

# Production Build Output
dist/
build/
tsconfig.tsbuildinfo

# Logs
*.log
npm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
